{% extends 'index.html' %}


{% block content %}

<div class="container flex justify-center">
    <div class="flex items-center justify-center border border-gray-100 px-12 py-8">
        <form>
            <div class="container">
                <div>
                    <label class="block mb-1 text-xl text-left">First name</label>
                    <input type="text" name="first_name" class="block w-full">
                </div>
                <div class="mt-4">
                    <label class="block mb-1 text-xl text-left">Last name</label>
                    <input type="text" name="last_name" class="block w-full">
                </div>
                <div class="mt-4">
                    <label class="block mb-1 text-xl text-left">Email</label>
                    <input type="email" name="email" class="block w-full">
                </div>
                <div class="mt-4">
                    <label class="block mb-1 text-xl text-left">Phone number</label>
                    <input type="number" name="phone_number" class="block w-full">
                </div>
                <div class="mt-4">
                    <label class="block mb-1 text-xl text-left">Upload resume</label>
                    <input type="file" name="resume" class="block w-full">
                </div>
                <div class="mt-8">
                    <a href="#" class="px-6 py-3 border-none bg-blue-700 text-white text-base font-bold hover:bg-blue-500">Submit</a>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}