{% extends 'index.html' %}


{% block content %}


<div class="container flex flex-col">
    <h1 class="text-center font-medium text-lg underline mb-4">Apply for this job</h1>
    <div class="flex items-center justify-center mx-auto border border-gray-100 px-12 py-8 max-w-lg">
        <form action="/submit" method="POST">
            <div class="container">
                <div class="mt-4">
                    <label class="block mb-1 text-xl text-left">First Name</label>
                    <input type="text" name="first_name" class="block w-full">
                </div>
                <div class="mt-4">
                    <label class="block mb-1 text-xl text-left">Last Name</label>
                    <input type="text" name="last_name" class="block w-full">
                </div>
                <div class="mt-4">
                    <label class="block mb-1 text-xl text-left">Email</label>
                    <input type="email" name="email" class="block w-full">
                </div>
                <div class="mt-4">
                    <label class="block mb-1 text-xl text-left">Phone number</label>
                    <input type="tel" name="phone_number" class="block w-full">
                </div>
                <div class="mt-4">
                    <label class="block mb-1 text-xl text-left">Resume URL</label>
                    <input type="text" name="resume" class="block w-full">
                </div>
                <div class="mt-4">
                    <label class="block mb-1 text-xl text-left">LinkedIn Profile</label>
                    <input type="text" name="linkedin" class="block w-full">
                </div>
                <div class="mt-4">
                    <label class="block mb-1 text-xl text-left">Github</label>
                    <input type="text" name="github" class="block w-full">
                </div>
                <div class="mt-8 flex items-center justify-center">
                    <input class="px-6 py-3 border-none bg-blue-700 text-white text-base font-bold hover:bg-blue-500 text-center" type="submit" value="Submit Application"></a>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}